/* -- Main Title */
div.wrapper-cart {
    .main-title-information {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .main-title-information-1 {
        font-size: 1.5rem;
    }
}
