/* HEADER */
/* -------------------------------------------------------------------- */

/* -- Set the navbar to fixed position */
header {
    nav.navbar {
        background-color: #868f96;
        overflow: hidden;
        position: fixed;
        z-index: 850;
        top: 0;
        width: 100%;

        .navbar-nav {
            .nav-link.active {
                color: rgb(79, 81, 83);
                font-weight: bold;
            }
        }

        .collapse {
            margin-right: 1.5rem;
        }

        .collapse {
            a {
                padding: 1rem;
                margin-left: 1rem;
            }
        }

        .navbar-brand {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
        }
    }
}
