/* WRAPPER - HOME */
/* -------------------------------------------------------------------- */

/* Select Bar */
div.wrapper {
    .select-home-bar {
        .btn-group-toggle {
            label.btn-primary.active {
                background-color: #cccccc;
                border-color: wheat;
                color: white;
            }
            label.btn-primary {
                margin-left: 0.5rem;
                background-color: white;
                border-color: white;
                color: black;
            }
            label.btn-primary.focus {
                box-shadow: 0 0 0 0 #b7bfc5;
            }
        }
    }

    /* Product Home List */
    .product-home-list {
        border: 0.5px solid #868f96;
    }
}
